<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/menu.js"></script>
        <script src="js/js_script.js" defer></script>
        <script src="https://vuejs.org/js/vue.js"></script>
        <script src="js/vue_script.js" defer></script>
        <script src="/socket.io/socket.io.js" defer></script>
        <script src="js/deli-very.js" defer></script>
        <title>Görgo beställningssida</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <main id="order">
            <header>
                <img src="https://storage.googleapis.com/orchestra-cafe-7jp1kqsp/uploads/2019/08/6898d17b-snus-vm-1024x576.jpg">
                <h1>Välkommen till snusshoppen!</h1>
            </header>
            <section id="snuschoice">
                <h2>Välj snus</h2>
                <p>Vi har ett brett sortiment av olika snussorter att välja mellan.</p>
                <div class= wrapper id="wrapper">
                </div>
            </section>
            <section id="details">
                <h2>Skriv in dina adressuppgifter</h2>
                <p>Var ska det svarta guldet levereras?</p>
                <p>
                    <label for="fullname">Namn</label><br>
                    <input type="text" id="fullname" name="fn" required="required" placeholder="Namn">
                </p>
                <p>
                    <label for="email">Mailadress</label><br>
                    <input type="email" id="email" name="em" required="required" placeholder="E-mail address">
                </p>
                <p>
                    <label for="paymentmethod">Betalmetod</label><br>
                    <select id="paymentmethod" name="pm">
                        <option>Swish</option>
                        <option>Kontokort</option>
                        <option>Klarna</option>
                        <option>Kontantbetalning på plats</option>
                    </select>
                </p>
                <p>
                    <label for="gender">Kön</label><br>
                    <input type="radio" id="man" name="g" checked="checked" value="Man">
                    <label for="man">Man</label><br>
                    <input type="radio" id="woman" name="g" value="Kvinna">
                    <label for="woman">Kvinna</label><br>
                    <input type="radio" id="nonbinary" name="g" value="Ickebinär">
                    <label for="nonbinary">Ickebinär</label><br>
                    <input type="radio" id="notspecified" name="g" value="Inte specificerat">
                    <label for="notspecified">Inte speficicerat</label><br>
                </p>

                <div>
                    <button type="submit" v-on:click="markDone()" id><img src="/img/Ettan.png"> Beställ</button>
                </div>
            </section>
            <div id="orderdetails">
                <p v-if="buttonClicked">Din order har registrerats! Orderdetaljer:</p>
                <div v-for="detail in details" v-if="buttonClicked">
                    {{ detail }}
                </div>
            </div>
        </main>
        <hr>
        <footer>Tack för att du stöttar din lokala snusshop!</footer>
    </body>
</html>
