@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+JP';
body {
    max-width: 960px;
    margin: auto;
    font-family: 'Sulphur Point', arial, sans-serif;
    font-size: 1.2em;
}

header {
    margin-left: 1%;
    margin-right: 1%;
    height: 200px;
    overflow: hidden
}

header > img {
    width: 100%;
    height: auto;
    opacity: 0.5;
}

header > h1 {
    position: absolute;
    padding: 2%;
    margin-top: -500px;
}

section {
    margin: 1%;
    padding: 1%;
}

#snuschoice {
    background-color: black;
    color: white;
    border: 2px dashed white;
}

#addToOrderCheckBox {
    display: block;
    padding: 1%;
    margin: 1%;
    border: 1px solid white;
    text-align: center;
}

.wrapper {
     display: grid;
     grid-gap: 10px;
     grid-template-columns: 300px 300px 300px;
 }

 .wrapper img {
     width: 280px;
 }

#details {
    border: 2px dashed;
}

.smak {
    font-weight: bold;
}
button {
    margin: auto;
    display: block;
    font-size: 2em;
    background-color: #006B61;
    color: white;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 0.5em;
    transition-duration: 0.2s;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

button img {
    width: 40px;
}

button:hover {
    background-color: #004741;
    cursor: pointer;
}

.view-box {
	width: 90%;
	height: 50vh;
	margin: 1em auto;
	overflow: scroll;
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

/* saker från deli-very.css, början */

#dots {
	position: relative;
	margin: 0;
	padding: 0;
	background: url(/img/polacks.jpg);
	background-repeat: no-repeat;
	width: 1920px;
	height: 1078px;
	cursor: crosshair;
}

#dots div {
	position: absolute;
	background: black;
	color: white;
	border-radius: 10px;
	width: 20px;
	height: 20px;
	text-align: center;
}

#orderList {
	top: 1em;
	left: 1em;
	position: absolute;
	z-index: 2;
	color: black;
	background: rgba(255,255,255, 0.5);
	padding: 1em;
}

/* saker från deli-very.css, slut */

#false-details {
    font-style: italic;
    color: red;
}
